@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --white-100: white;
  --black-900: black;
  --blue-800: #2d2e40;
  --orange-500: #ff836d;
  --orange-600: #fe545d;
  --red-500: #ff0606;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 23.438rem;
  display: grid;
  grid-template-columns: 1fr minmax(20.4375rem, 69.375rem) 1fr;
  margin: 0;
}

main {
  grid-column: 2/3;
  margin: 0 auto;
}

/* header and nav bar code start */
header {
  grid-column: 1/4;
  background: url(assets/header.svg), var(--orange-600);
  color: var(--white-100);
  height: 310px;
  width: 100%;
  border-radius: 0 0 0 10rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.nav-container {
  max-width: 69.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.nav-checkbox {
  display: none;
}

.hamburger-lines-container {
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  right: 1rem;
}

.hamburger-line {
  width: 2rem;
  height: 0.26rem;
  border-radius: 0.2rem;
  margin: 2px;
  background: var(--white-100);
  transform-origin: center;
  transition: 250ms ease-in-out;
}

.page-navigation {
  position: absolute;
  top: 5rem;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 4.8rem 2.4rem;
  transform: scale(0, 0);
  transform-origin: top;
  transition: 250ms ease-in-out;
  z-index: 5;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.page-navigation > a:hover {
  text-decoration: underline;
}

/* media query */
@media screen and (min-width: 768px) {
  .hamburger-lines-container,
  .overlay {
    display: none;
  }
  .page-navigation {
    transform: scale(1, 1);
    position: static;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    width: 20rem;
    height: 2.7rem;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
  }
}

.logo-container {
  z-index: 5;
}
.overlay {
  transform: scale(0, 0);
  transform-origin: top;
  transition: 250ms ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0;
  z-index: 1;
  background: url(assets/header.svg), var(--orange-600);
  /* opacity: 0.5; */
}

.nav-checkbox:checked ~ .page-navigation {
  transform: scale(1, 1);
}

.nav-checkbox:checked ~ .overlay {
  transform: scale(1, 1);
}

.nav-checkbox:checked
  ~ .hamburger-lines-container
  > .hamburger-line-rotate-left {
  /* // 1 */
  transform: rotate(45deg) translate(11.8px, 6.9px);
}

.nav-checkbox:checked ~ .hamburger-lines-container > .hamburger-line-center {
  /* //2 */
  opacity: 0;
  transform: scale(0, 0);
}
.nav-checkbox:checked
  ~ .hamburger-lines-container
  > .hamburger-line-rotate-right {
  /* //3 */
  transform: rotate(-45deg) translate(5.4px, -0.7px);
}

.header-hero-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-button {
  background: var(--white-100);
  color: var(--black-900);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: bold;
}

.hero-button:hover {
  background: var(--red-500);
  color: var(--white-100);
}

/* header and nav bar code ends */

/* from css-layout challenge-4 sensible layout */
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
/* this style is for test navigation, you can delete it */
section {
  border: 5px solid #000;
  height: 100vh;
  max-width: 60rem;
}

.member-container {
  /* border: 5px solid #000; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.member {
  width: 167px;
  height: 223px;
  background: #2d2e40;
  border-radius: 25px 75px;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.member > span {
  color: #fff;
}

footer {
  min-height: 20rem;
  grid-column: 1/4;
  background-color: #1d1c1e;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 30px;
}

footer > div > p {
  color: var(--white-100);
}

.footer-logo-container {
  max-width: 1110px;
  width: 75%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px var(--white-100);
  padding: 30px;
}
.footer-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  /* text-align: center; */
}



/* Layout primitives */

/* Joe todo: refactor so that <sections> use this class? (60rem seems commonly used as the "default".) */
.center {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.center-width-small {
  max-width: 30rem;
}

.stack > * + * {
  margin-top: 2rem;
}

/* End of layout primitives */



/* Shared styles used by "about us" section */

.hero-button-red {
  background: var(--red-500);
  color: var(--white-100);
}

/* End of shared styles used by "about us" section */



/* Styles unique to "about us" section */
#about-us {
  /* Joe todo: apply this to the whole document? */
  line-height: 1.5;
}

#about-us-intro {
  text-align: center;
}

#about-us-decoration {
  display: flex;
  gap: 5rem;
}

#about-us-decoration-panel-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about-us-decoration q {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  /* text-align: center; */
}

/* Joe todo: refactor so that this bg col is a variable, styles are in class shared with "our team" stuff. */
#our-approach-container {
  background: #2d2e40;
  border-radius: 1.5rem 7.5rem;
  color: var(--white-100);
  /* Joe: do we need padding here to make sure the content never flows over the large border radius? */
}

/* End of styles unique to "about us" section */