@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --white-100: white;
  --black-900: black;
  --blue-800: #2d2e40;
  --orange-500: #ff836d;
  --orange-600: #fe545d;
  --red-500: #ff0606;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 23.438rem;
  display: grid;
  grid-template-columns: 1fr minmax(20.4375rem, 69.375rem) 1fr;
  /* added for now to work on footer tag */
  grid-template-rows: 10fr 1fr;
}

main {
  grid-column: 2/3;
}

/* from css-layout challenge-4 sensible layout */
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
/* this style is for test navigation, you can delete it */
section {
  border: 5px solid #000;
  height: 100vh;
  max-width: 60rem;
}

.member-container {
  /* border: 5px solid #000; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.member {
  width: 167px;
  height: 223px;
  background: #2d2e40;
  border-radius: 25px 75px;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.member > span {
  color: #fff;
}

footer {
  grid-row: 2/3;
  grid-column: 1/4;
  background-color: #1d1c1e;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer > span {
  width: 690px;
  height: 1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
}
