* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* from css-layout challenge-4 sensible layout */
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
/* this style is for test navigation, you can delete it */
section {
  border: 5px solid #000;
  height: 100vh;
  max-width: 60rem;
}

.member-container {
  /* border: 5px solid #000; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.member {
  width: 167px;
  height: 223px;
  background: #2d2e40;
  border-radius: 25px 75px;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.member > span {
  color: #fff;
}
